
* {
    margin: 0px;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

.card {
    border: none;
}

.bg-dark {
    --bs-bg-opacity: 0;
}
.dettaglio {
  border: 1px solid white;
  height: 30px;
  width: 40px;
}

.dettaglio svg {
  display: flex;
  margin: auto;
  margin-top: 7px;
}

#scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 60px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}



  .col-md-3 {
    float: left; /* Assicura che gli elementi rimangano in linea */
    width: 25%; /* Imposta la larghezza desiderata */
  }
  
  .card {
    position: relative; /* Imposta la posizione relativa */
    z-index: 1; /* Assicura che la carta sia posizionata sopra il contenuto circostante */
    transition: transform 0.3s; /* Aggiungi un'animazione di transizione */
    /*border: 1px solid #ccc;*/ /* Aggiungi bordi per chiarezza */
    /*border-radius: 5px;*/ /* Aggiungi bordi arrotondati */
    overflow: hidden; /* Assicura che l'effetto di transizione non mostri parti nascoste */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
  
  .card-body {
    position: absolute; /* Imposta la posizione assoluta */
    bottom: 0; /* Posiziona il contenuto in basso */
    background-color: rgba(255, 255, 255, 0.9); /* Sfondo semi-trasparente */
    width: 100%; /* Occupa tutta la larghezza della carta */
    padding: 10px; /* Spazio intorno al contenuto */
    transform: translateY(100%); /* Nascondi di default il contenuto */
    transition: transform 0.3s; /* Aggiungi un'animazione di transizione */
    text-align: center;
  }
  
  .card:hover .card-body {
    transform: translateY(0); /* Mostra il contenuto quando la carta viene hoverata */
  }
  
  .card:hover {
    transform: scale(1.05); /* Effetto di ingrandimento quando la carta viene hoverata */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .col.d-flex.mt-5 > p > ion-icon {
    width: 50px;
    height: 30px;
  }

  body > div:nth-child(3) > div:nth-child(5) > div.row > div:nth-child(1) > button {
border-radius: 0%;
border: 1px solid white;
background-color: black;
  }

  @media screen and (max-width: 992px) {
    .col-md-3 {
      width: 50%; /* Imposta la larghezza del col-md-3 al 50% su dispositivi medi */
    }
  }
  
  @media screen and (max-width: 768px) {
    .col-md-3 {
      width: 100%; /* Imposta la larghezza del col-md-3 al 100% su dispositivi piccoli */
    }
  }